@{
    ViewBag.Title = "Nosotros";
    ViewBag.Antonella = "Antonella D'Arpino";
    ViewBag.Franco = "Franco Tarchini";
    ViewBag.Ivan = "Ivan Taddei";
    ViewBag.Chelo = "Marcelo de Jesús Nuñez";
    
}
<h2>@ViewBag.Title.</h2>


<div class="container">
    <h1>Conoce al Equipo</h1>
    <div class="row">
        <div class="col-md-3">            
                <div class="card">
                    <img class="card-img-top rounded-circle" src="http://lorempixel.com/g/100/180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">@ViewBag.Antonella</h4>
                        <p class="card-text">CEO de Group A</p>
                        <h4>Curriculum</h4>
                        <p class="card-text">@ViewBag.LoremIpsum</p>
                    </div>
                </div>            
        </div>
        <div class="col-md-3">
            <img class="card-img-top rounded-circle" src="http://lorempixel.com/g/100/180/" alt="">
            <div class="card-body">
                <h4 class="card-title">@ViewBag.Ivan</h4>
                <p class="card-text">Lavaplatos de Group A que se enoja si le decis algo</p>
                <p> </p>
            </div>
        </div>
        <div class="col-md-3">
            <img class="card-img-top rounded-circle" src="http://lorempixel.com/g/100/180/" alt="">
            <div class="card-body">
                <h4 class="card-title">@ViewBag.Franco</h4>
                <p class="card-text">FrontEnd Engineer de Group A</p>
            </div>
        </div>
        <div class="col-md-3">
            <img class="card-img-top rounded-circle" src="http://lorempixel.com/g/100/180/" alt="">
            <div class="card-body">
                <h4 class="card-title">@ViewBag.Chelo</h4>
                <p class="card-text">BackEnd Engineer de Group A</p>
            </div>
        </div>
    </div>
</div>


